<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/delete_user.js"></script>

{{!-- Create a table --}}
<table id="users-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.userID}}>
            <td>{{this.userID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteUser({{this.userID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Adding a User</h2>
<p>To add a new user, please enter their information below and click 'Submit'!</p>
<form id="add-user-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_user.js"></script>