<!-- index.hbs -->
<h1>Provisions</h1>
<p>Users</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="users-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.userID}}>
            <td>{{this.userID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteUser({{this.userID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_user.js"></script>

{{!-- Form to add a record to the table --}}
<h2>Adding a User</h2>
<p>To add a new user, please enter their information below and click 'Submit'!</p>
<form id="add-user-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_user.js"></script>

<h2>Edit a User's Email</h2>
<p>To update a specific user's email, select their name from the drop-down menu and update their email</p>
<form id="update-user-form-ajax">

    <label for="input-name">Name: </label>
    <select name="input-name" id="mySelect">
        <option value="test">Select a User</option>
        {{#each data}}
        <option value="{{this.userID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email-update" id="input-email-update">

    <input type="submit">

</form>

<script src="./js/update_user.js"></script>
